.section_3 {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2 {
    color: #fff;
    margin-top: 15vh;
}

.portfolio_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;

}

.portfolio_item {
    width: 18vw;
    height: 300px;
    padding: 2vw;
    margin: 2vw;
    border-radius: 10px;
    background-color: #222222;
    border: 1px solid rgb(80, 80, 80);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: .5s;
}

.portfolio_item:hover {
    background-color: #5f5f5f;
}

.portfolio_item:hover .project_link {
    background-color: rgb(141, 141, 141);
}

.project_link {
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(24, 57, 124);
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}

.project_link:hover {
    color: #000;
}

@media only screen and (max-width: 1240px) {
    .section_3 {
        width: 100vw;
    }
    .portfolio_item {
        min-height: 220px;
    }
}

@media only screen and (max-width: 768px) {
    .h2 {
        margin: 60px 0 20px;
    }
    .portfolio_items {
        flex-direction: column;
    }
    .portfolio_item {
        width: 60vw;
        height: 200px;
        padding: 5vw;
        margin: 5vw;
    }
}