.section_2 {
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.do {
    opacity: .8;
}

.do_items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.do_item {
    width: 18vw;
    height: 320px;
    padding: 2vw;
    margin: 2vw;
    border-radius: 10px;
    background-color: #222222;
    border: 1px solid rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: .5s;
}

.do_item:hover {
    background-color: #5f5f5f;
}

.do_item_medal {
    width: 3vw;
    opacity: .9;
}

.do_item_h3 {
    text-align: center;
}

.do_ul {
    margin-top: 0;
}

.do_item_p {
    margin: 0;
}

.do_item_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.do_icon {
    height: 50px;
}

.skills_two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my_image {
    width: 10vw;
    margin: 0 auto;
    border-radius: 120px;
    box-shadow: 0px 0px 50px #0d0d55;
    transition: 0.3s;
}

.my_image_wrapper:hover .my_image {
    transform: rotateY(180deg);
}

.skills_two_h2 {
    opacity: .8;
}

.skill_two_item_h3 {
    opacity: .8;
}

@media only screen and (max-width: 1240px) {
    .do_item {
        height: 280px;
    }
}

@media only screen and (max-width: 945px) {
    .do_item_medal {
        width: 5vw;
    }
}

@media only screen and (max-width: 768px) {
    .my_image {
        width: 20vw;
    }
    .do_items {
        flex-direction: column;
    }
    .do_item {
        width: 60vw;
        height: 200px;
        padding: 5vw;
        margin: 5vw;
    }
    .do_item_medal {
        width: 8vw;
    }
}